---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
# Configs for sorting #include lines
IncludeBlocks: Regroup
IncludeCategories:
  # (implied) Header file for the current cpp file
  # All "Library" <> headers
  - Regex: '<[[:alnum:].\/_-]+>'
    Priority: 1
  # All other headers
  - Regex: ".*"
    Priority: 2
AllowShortIfStatementsOnASingleLine: true
BreakTemplateDeclarations: Yes
# Don't allow the indentation of a lambda to be affected by the length
# of the line it's declared on.
LambdaBodyIndentation: OuterScope
AccessModifierOffset: -4